# 🏛️ Forge Core: Node Mono-Tenant Configuration
PORT=3000
NODE_ENV=development

# 🗝️ JWT
JWT_SECRET=forge_secret_key_883

# 📂 Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/forge_db

# 🏗️ Mono-Tenant Strategy
# Se este valor for definido, o backend operará fixo neste inquilino.
TENANT_ID=default
