package com.forge.mono;

import org.junit.jupiter.api.Test;
import static org.junit.jupiter.api.Assertions.assertTrue;

class ApplicationTests {

    @Test
    void contextLoads() {
        assertTrue(true, "Baseline de teste unitário carregado com sucesso.");
    }
}
