package models

import "time"

type User struct {
	ID        string    `json:"id"`
	TenantID  string    `json:"tenant_id"` // MANDATORY
	Email     string    `json:"email"`
	FirstName string    `json:"first_name"`
	IsActive  bool      `json:"is_active"`
	CreatedAt time.Time `json:"created_at"`
}

type Tenant struct {
	ID        string    `json:"id"`
	Name      string    `json:"name"`
	Slug      string    `json:"slug"`
	IsActive  bool      `json:"is_active"`
	CreatedAt time.Time `json:"created_at"`
}
