from fastapi import FastAPI
from middleware.middleware import tenant_context_middleware

app = FastAPI(title="Forge Python Backend")

# Injeção do Middleware Enterprise
app.middleware("http")(tenant_context_middleware)

@app.get("/health")
def health_check():
    return {"status": "UP", "engine": "Forge Core Python"}

if __name__ == "__main__":
    import uvicorn
    uvicorn.run("main:app", host="0.0.0.0", port=8000, reload=True)
